@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #3490dc;
  --secondary: #ffed4a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #3b82f6;
    --secondary: #facc15;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: var(--primary);
}

p {
  color: var(--foreground);
}

a {
  color: var(--secondary);
}

button {
  background-color: var(--primary);
  color: var(--background);
}
